body {
  padding-top: 10px !important;
}

.cursor {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

#tbLouvores td {
  font-size: 1.15rem !important;
}

input[type="text"] {
  font-size: 1.15rem !important;
}

input[type="number"] {
  font-size: 1.15rem !important;
}

input[type="date"] {
  font-size: 1.15rem !important;
}